 <div class="shadow-md bg-base-200">
            <div class="bg-base-200 text-base-content bg-neutral text-neutral-content">
                 <div class="shadow-md bg-base-300 align-bottom  h-12 text-lg cursor-pointer"  @onclick="expandClick">
                
                     <span class="align-middle inline-block p-2 pl-3">
                         
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4" />
                    </svg>

                    </span>
                        <span class="align-middle inline-block">Control</span>
                    <span class="align-middle inline-block p-2 pr-3 float-right" >
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                    </span>
                 </div>
                  <div class="@(( expandedCss ? "expandPanel" : "") + " shrunkPanel pl-3 pr-3 pb-1")">
                                    .......
                                    <br />
                                       .......
                                    <br />
                                       .......
                                    <br />
                                       .......
                                    <br />
                                       .......
                                    <br />
                                       .......
                                    <br />
                                       .......
                                    <br />
                  </div>
            </div>
        </div>

@code {
    private bool expandedCss { get; set; } = true;

    private void expandClick()
    {
        expandedCss = !expandedCss;
    }
}



