@inherits LayoutComponentBase

<div class="page">

    <NavMenu />


    <!-- Sidebar -->
    <div  class=" absolute flex top-0 h-screen z-20 left-0 flex-row-reverse">
        <!--Drawer -->
        <button @onclick="ChangeClass" class="w-12 h-48 p-1 my-auto rounded text-white bg-gray-600 text-center focus:outline-none hover:bg-gray-500 transition-color duration-300">
            <span class="rotate-90 block transform origin-center font-bold"> Drawer </span>
        </button>
        <!-- Sidebar Content -->
        <div class="@(IsOpen ? "transition duration-1000 ease-in-out bg-yellow-200 overflow-hidden flex items-center justify-center max-w-0" : "transition duration-300 ease-in-out bg-yellow-200 overflow-hidden flex items-center justify-center max-w-lx")">
            <div class="w-48 text-center font-bold text-xl">Sidebar</div>
        </div>
    </div>

    <div class="main">
        <div class="px-4 content">
            @Body
        </div>
    </div>
</div>
@code {

    private bool IsOpen { get; set; } = false;

    private void ChangeClass()
    {
        IsOpen = !IsOpen;
    }
}
