@inherits LayoutComponentBase

<div class="page">

    <NavMenu />

    <!-- Sidebar -->
  
    <div class="main">
        <div class="px-4 content">
            @Body
        </div>
    </div>
</div>
@code {

}
