<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="inset-x-0 top-0 z-50 w-full border-b border-neutral-focus border-opacity-30 bg-neutral text-neutral-content">
    <span class="cursor-pointer text-xl float-right p-3 font-extrabold" @onclick="OnOpenButtonClick">. . .</span>
    <Chameleon.Pages.SideBar @ref="sidebar" />
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
                <div class="flex items-center flex-shrink-0">
                    <img class="block w-auto h-8 lg:hidden" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
                    <img class="hidden w-auto h-8 lg:block" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" class="nav-item @GetActive("", NavLinkMatch.All) active:bg-green-700 px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white" aria-current="page" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </a>
                        <a href="counter" class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white">
                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                        </a>
                        <a href="Files" class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white">
                            <span class="oi oi-plus" aria-hidden="true"></span> Files
                        </a>
                        <a href="Fetchdata" class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</nav>


@code {
    [Inject]
    NavigationManager NavigationManager { get; set; }
    private Chameleon.Pages.SideBar sidebar;
    public string MyProperty { get; set; }= "";

    private void OnOpenButtonClick() {
        sidebar.Toggle();
    }

    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();
    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "";
}
