@font-face {
    font-family: 'Oxygen-Regular';
    src: url('../fonts/Oxygen-Regular.ttf') format('truetype'), url('../fonts/Oxygen-Light.ttf') format('truetype'), url('../fonts/Oxygen-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'StintUltraCondensed-Regular';
    src: url('../fonts/StintUltraCondensed-Regular.ttf') format('truetype'), url('../fonts/StintUltraCondensed-Regular.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    border-radius: 0 !important;
}

.sqrbtn {
    border-radius: 0 !important;
    height: 3rem !important;
    min-height: 3rem !important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

html, body {
    height: 100%;
}

body {
    font-family: 'Oxygen-Regular', 'Segoe UI';
    height: 100%;
    overflow-x: hidden;
}

div .invalid {
    border: solid red;
}

div .valid {
    border: none;
}

div .validation-errors {
    color: darkred;
    font-size: 0.9rem;
}


.login .leftspan, .login .rightspan {
    border-radius: .4em 0 0 .4em;
    height: 2.6em;
    margin: 0.2em 0 .1em .2em;
    padding: .65em .6em .6em;
    position: absolute;
}
.login .rightspan {
    right: 2.6em;
}

.login input {
    padding: 0 3.6em;
}