@page "/themeSelector"
@inject IJSRuntime JS

<EditForm Model="theme">
    <InputSelect @bind-Value="theme.selectedTheme" @oninput="onThemeChange"  class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content w-full select selectTheme" >
        @foreach (var item in theme.ThemeList)
        {
            <option value=@item.Value>@item.Name</option>
        }
    </InputSelect>
</EditForm>

@code {
    public Themes theme { get; set; } = new Themes();

    public async Task onThemeChange(ChangeEventArgs e)
    {
       var Value = e.Value.ToString();
        await JS.InvokeAsync<object>("changeTheme", Value);

    }
   
}