@page "/themeSelector"
@inject IJSRuntime JS

<EditForm Model="theme">
    <InputSelect @bind-Value="theme.SelectedTheme" @oninput="onThemeChange" class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content w-full select selectTheme">
        @foreach (var item in theme.ThemeList)
        {
            <option value=@item.Value>@item.Name</option>
        }
    </InputSelect>
</EditForm>

@code {
    public Themes theme { get; set; } = new();
    private object lsTheme { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
            lsTheme = await JS.InvokeAsync<object>
           ("getLs", "theme");
        theme.SelectedTheme = lsTheme.ToString();

    }


  

    public async Task onThemeChange(ChangeEventArgs e)
    {
        var Value = e.Value.ToString();
        await JS.InvokeAsync<object>
            ("changeTheme", Value);
        await JS.InvokeAsync<object>
       ("setLs", "theme", Value);

    }

}
