@page "/"

<h1 class="text-black dark:text-white dark:hover:text-red-600 hover:text-blue-600">Hover me</h1>

<button class="btn btn-primary">DaisyUI Button</button>

<div class="flex flex-wrap items-center p-4 space-x-3 bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <h1 class="text-lg text-blue-900 dark:text-white">Dark mode is here!</h1>
    <h1 class="text-blue-400">This is a Tailwind Class (text-green-500)</h1>
    <p class="text-lg text-blue-900 dark:text-white">
        TailwindCSS v2.0
    </p>
    <h1 class="text-black dark:text-white dark:hover:text-red-600 hover:text-blue-600">Hover me</h1>
    <button class="px-4 py-2 text-xs font-semibold tracking-wider text-white bg-blue-500 rounded hover:bg-blue-600">Button</button>
    <button class="px-4 py-2 text-sm font-semibold tracking-wider text-white bg-blue-500 rounded hover:bg-blue-600">Button</button>
    <button class="px-4 py-2 font-semibold tracking-wider text-white bg-blue-500 rounded hover:bg-blue-600">Button</button>
    <button class="px-4 py-2 text-lg font-semibold tracking-wider text-white bg-blue-500 rounded hover:bg-blue-600">Button</button>
    <svg class="w-12 h-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
    </svg>
    <header>
        <div class="flex items-center justify-center w-12 h-12 mb-8 dark rounded-xl bg-gradient-to-br from-lime-300 to-emerald-500 ">
            <svg width="34" height="33" viewBox="0 0 34 33" fill="none"><g filter="url(#dark-mode_svg__filter0_dd)"><path fill-rule="evenodd" clip-rule="evenodd" d="M30.587 18.39c.216-.869-.826-1.433-1.602-.986A11.945 11.945 0 0123 19c-6.627 0-12-5.372-12-12 0-.974.116-1.922.336-2.83.21-.87-.625-1.714-1.398-1.26C5.788 5.338 3 9.843 3 15c0 7.732 6.268 14 14 14 6.563 0 12.071-4.516 13.587-10.61z" fill="#ECFCCB"></path></g><defs><filter id="dark-mode_svg__filter0_dd" x="-2" y="-2" width="38" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix><feBlend in2="effect1_dropShadow" result="effect2_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect2_dropShadow" result="shape"></feBlend></filter></defs></svg>
        </div>

        <h1 class="mb-8 font-extrabold tracking-tight text-gray-900 dark:text-white">Dark Mode Template</h1>
        <div class="mb-6 space-y-6 text-lg font-normal text-gray-500 dark:text-gray-400 sm:text-2xl sm:leading-10">
            <p>This is a boilerplate template built with official features from version 2.0!</p>
            <a href={`https://tailwindcss.com/docs/dark-mode`}
               target="_blank"
               rel="noreferrer"
               class="text-base font-medium sm:text-lg lg:text-base xl:text-lg text-emerald-500 hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-500">
                Read documentation ->
            </a>
        </div>
    </header>

</div>

<SurveyPrompt Title="How is Blazor working for you?" />
<Counter IncrementAmount="10" />
<Webstorage />
