@page "/settings"


<div class="setting flex flex-wrap -mx-1  content-center overflow-hidden  bg-neutral text-neutral-content">
    <div class="mx-3  my-1 px-1 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2">
        <!-- Column Content -->
        <div class="h-8 mt-4 mb-4 bg-gray-500">Themes</div>
        <div  class="mt-4 w-auto align-middle">
            <ThemeSelector/>
        </div>
    </div>

    <div class="my-1 px-1 w-48 overflow-hidden">
        <!-- Column Content -->
        2
    </div>

    <div class="my-1 px-1 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2">
        <!-- Column Content -->3
    </div>

    <div class="my-1 px-1 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2">
        <!-- Column Content -->4
    </div>

    <div class="my-1 px-1 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2">
        <!-- Column Content -->5
    </div>

    <div class="my-1 px-1 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2">
        <div class="flex-1">
            <label class="mx-3">Lorem ipsum dolor sit amet, consectetur adip! </label>
        </div>
    </div>
</div>