@page "/sideBar"


<div class="@(( Left ? "active" : "" ) + " sidebar")">
    <div class="toggle-btn" @onclick="@( () => Left = !Left )">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="list">
        <div class="item">Home</div>
        <div class="item">About us</div>
        <div class="item">Gallery</div>
        <div class="item">Contact us</div>
        <div>
            <ThemeSelector />
        </div>
    </div>
</div>



@code {
    bool Left { get; set; } = true;
}