@page "/sideBar"
@namespace Chameleon.Pages
@inject IJSRuntime JsRuntime;

<div id="sideBar" class="@(( isSideBar ? "" : "active" ) + " sidebar") bg-base-300 text-base-content bg-neutral text-neutral-content">
    <div class="list">

       <div class="sm:block md:hidden">
        <div class="bg-base-200">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="border-b border-current p-3 h-full w-full h block hover:bg-neutral-focus" aria-current="page" Match="NavLinkMatch.All">
                <span class="oi oi-home align-middle inline-block p-0" aria-hidden="true"></span> Home
            </a>
            <a href="counter" class="border-b border-current p-3 h-full w-full h block hover:bg-neutral-focus">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </a>
            <a href="Files" class="border-b border-current p-3 h-full w-full h block hover:bg-neutral-focus">
                <span class="oi oi-plus" aria-hidden="true"></span> Files
            </a>
            <a href="Fetchdata" class="border-b border-current p-3 h-full w-full h block hover:bg-neutral-focus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </a>
        </div>
    </div>
        <div class="bg-base-100 border-t-2 border-current ">
            <div class="bg-base-200" >
                <a href="Settings" class="p-3 h-full w-full h block hover:bg-neutral-focus">
                    <span class="align-middle inline-block p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </span>
                    <span class="p-1 m-0">
                        Settings
                    </span>
                </a>
            </div>
        </div>
        <div>
            <ThemeSelector />
        </div>
    </div>
</div>
<div class="@(( isOverLay ? "" : "overlayOn") + " overlay")" @onclick="ChangeOverLayCssClass"></div>

