@page "/webstorage"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JS

<button  class=" rounded font-semibold bg-blue-500 theme-btn px-4 py-2 text-3xl bg-primary text-primary hover:text-secondary  py-3   theme-btn text-black dark:text-white dark:hover:text-emerald-500 hover:text-blue-600"  @onclick="@AddClass">Swap Theme</button>

@code {
    private string theme { get; set; } = "";
    private async Task AddClass()
    {

        switch (theme)
        {

            case "dark":
                theme = "light";
                //    await JS.InvokeAsync<object>("plum", "light");
                break;

            case "light":
                theme = "dark";
                //  await JS.InvokeAsync<string>("plum", "dark");
                break;
            case "":
                //  JSRuntime.InvokeAsync<object>("lightMode");
                break;
            default:
                break;
        }
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        
            theme = await localStorage.GetItemAsync<string>("theme");
            if (theme == null )
            {
                theme = "light";
                //   await localStorage.SetItemAsync("theme", theme);
            }else
            {
                //  await JS.InvokeAsync<object>("plum", theme);
            }

        }
        else
        {
            //   await localStorage.SetItemAsync("theme", theme);
        }

    }
}