@inherits LayoutComponentBase

<div class="page">

    <NavMenu />

    <!-- Sidebar -->
    <div class="absolute flex top-0 h-screen z-20 left-0 flex-row-reverse">
        <!--Drawer -->
        <button class="w-12 h-48 p-1 my-auto rounded text-white bg-gray-600 text-center focus:outline-none hover:bg-gray-500 transition-color duration-300">
            <span class="rotate-90 block transform origin-center font-bold"> Drawer </span>
        </button>
        <!-- Sidebar Content -->
        <div class="transition-all duration-700 bg-yellow-200 overflow-hidden flex items-center justify-center max-w-0">
            <div class="w-48 text-center font-bold text-xl">Sidebar</div>
        </div>
    </div>




    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
