@page "/getusers"

<div>
    @if (Users != null)
    {
        @foreach (var item in Users)
        {
            <p>@item.FirstName</p>
        }
    }
    else { 
    <p>Loading...!</p>
    }

</div>
